<h1>Travel</h1>
<h3>新規Travel</h3>
<%= form_for @travel do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body, :size => 140 %>
  </div>
  <%= f.submit "投稿する" %>
<% end %>
<%= link_to "投稿一覧に戻る", travels_path %>